<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.p2p.ht.mapper.Bk_BiaoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.demo.p2p.ht.entity.Biao">
        <id column="id" property="id" />
        <result column="bname" property="bname" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, bname
    </sql>

    <select id="sellist" resultType="com.demo.p2p.ht.entity.Biao">
        select
        *
        from biao where 1=1
        <if test="candp != null and pandc != null">
            limit #{candp},#{pandc};
        </if>
    </select>

</mapper>
