<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.p2p.mapper.ApproveitemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.demo.p2p.entity.Approveitem">
        <id column="aiid" property="aiid" />
        <result column="ainame" property="ainame" />
        <result column="aitype" property="aitype" />
        <result column="aistate" property="aistate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        aiid, ainame, aitype, aistate
    </sql>

</mapper>
