<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.p2p.mapper.InvestinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.demo.p2p.entity.Investinfo">
        <id column="inid" property="inid" />
        <result column="userid" property="userid" />
        <result column="brrowid" property="brrowid" />
        <result column="inmoney" property="inmoney" />
        <result column="instatus" property="instatus" />
        <result column="instyle" property="instyle" />
        <result column="brrowstatus" property="brrowstatus" />
        <result column="interest" property="interest" />
        <result column="profitmodel" property="profitmodel" />
        <result column="profitmoney" property="profitmoney" />
        <result column="indate" property="indate" />
        <result column="replaydate" property="replaydate" />
        <result column="markstatus" property="markstatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        inid, userid, brrowid, inmoney, instatus, instyle, brrowstatus, interest, profitmodel, profitmoney, indate, replaydate, markstatus
    </sql>

    <select id="sumMoney" parameterType="map" resultType="Double"><!-- ${tableName} 不能用#{}-->
        select sum(${rowName}) from ${tableName} where 1 = 1
        <if test="uid != null">
            and userid = #{uid}
        </if>
        <if test="bid != null">
            and brrowid = #{bid}
        </if>
    </select>

    <select id="selInfo" resultMap="BaseResultMap" parameterType="map">
        SELECT a.*,p.pname title,p.ptype type FROM (SELECT inv.*,un.uname FROM InvestInfo inv LEFT JOIN users un ON inv.userid = un.uid) as a left join product p on a.brrowid =p.id
        where 1 = 1
        <if test="uid != null">
            and userid = #{uid}
        </if>
        <if test="bid != null">
            and brrowid = #{bid}
        </if>
        <if test="candp != null and pandc != null">
            limit #{candp},#{pandc};
        </if>
    </select>

    <insert id="add" parameterType="com.demo.p2p.entity.Investinfo">
        insert into investinfo (userid,brrowid,inmoney,instatus,instyle,brrowstatus,interest,profitmodel,profitmoney,indate,replaydate,markstatus) values (#{userid},#{brrowid},#{inmoney},#{instatus},#{instyle},#{brrowstatus},#{interest},#{profitmodel},#{profitmoney},current_timestamp(),#{replaydate},#{markstatus})
    </insert>

    <update id="upByMap" parameterType="map">
        UPDATE investinfo
        SET brrowstatus = '去修改'
        WHERE brrowid = #{bid}
    </update>

    <select id="selByMap" resultMap="BaseResultMap" parameterType="map">
        SELECT * FROM investinfo
        WHERE 1 = 1
        <if test="bid != null">
            and brrowid = #{bid}
        </if>
    </select>

</mapper>
