<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.p2p.mapper.PacketredMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.demo.p2p.entity.Packetred">
        <id column="id" property="id" />
        <result column="uid" property="uid" />
        <result column="rmoney" property="rmoney" />
        <result column="jjname" property="jjname" />
        <result column="dhma" property="dhma" />
        <result column="dhtime" property="dhtime" />
        <result column="jztime" property="jztime" />
        <result column="gqtime" property="gqtime" />
        <result column="ptype" property="ptype" />
        <result column="dhtype" property="dhtype" />
        <result column="pname" property="pname" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        uid, id, rmoney, jjname, dhma, dhtime, jztime, gqtime, ptype, dhtype, pname
    </sql>

</mapper>
