<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>亿人网--网站公告</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href=" /css/common.css" rel="stylesheet" />
	<link href=" /css/about.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src=" /script/jquery.min.js"></script>
	<script type="text/javascript" src=" /script/common.js"></script>
</head>
<body>

<!--header--> <header th:include="common/header :: header"></header>

<!--关于我们-->
<div class="bg">
	<div class="contain" id="tabs" style="margin:0 auto;">

		<!--关于我们-->
		<div th:include="common/gywm_left :: gywm_left" class="text-nav"></div>
		<div class="text-box">
			<div class="text-content" id="text-content">
				<h1 class="title">
					网站公告
				</h1>
				<ul class="clearfix mt20 new-list"  th:each="pp:${list}">
					<li class="clearfix list-item">
						<a href="" th:href="@{'/notice/xiangqing?ids='+${pp.noticeid}}">

							<td th:text="${pp.noticetitle}"></td></a>
						<span th:text="${pp.noticelasttime}">
							</span>
					</li>
				</ul>
				<div class="page">
					<span class="count"></span>
					<div class="fr pages">
						<span data-page="1" class="currents">1</span>
						<a data-page="17" class="last" href="#">尾页</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--网站底部-->
<div th:include="common/footer :: footer" id="footer" class="ft"></div>
</body>
</html>