<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>亿人网--网站公告</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href=" /css/common.css" rel="stylesheet" />
<link href=" /css/about.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src=" /script/jquery.min.js"></script>
<script type="text/javascript" src=" /script/common.js"></script>
</head>
<body>

 <!--header--> <header th:include="common/header :: header"></header>
<div class="bg">
  <div class="contain" id="tabs" style="margin:0 auto;">
<!--左导航栏-->
	  <div th:include="common/gywm_left :: gywm_left" class="text-nav"></div>
     <div class="text-box">
		 <div class="text-content" id="text-content">
			 <ul class="r-list" th:each="list:${list}">
				 <li class="clearfix">
					 <a href="" th:href="@{'/notice/mtbdxq?ids='+${list.noticeid}}">
						 <img src="" width="300" height="171" th:src="@{${list.noticepicture}}">
					 </a>
					 <div class="record">
						 <h5>
							 <a href="#" th:href="@{'/notice/mtbdxq?ids='+${list.noticeid}}" th:text="${list.noticetitle}"></a>
						 </h5>
						 <p class="text" th:text="${list.noticecontent}">
						 </p>
						 <p class="time" th:text="${#dates.format(list.noticelasttime,'yyyy-MM-dd')}"></p>
					 </div>
				 </li>
			 </ul>
		 </div>
	 </div>
    </div>
  </div>
</div>
 <div th:include="common/footer :: footer" id="footer" class="ft"></div>
</body>
</html>