<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>p2p网贷平台</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <link href="/css/common.css" rel="stylesheet" />
  <link href="/css/index.css" rel="stylesheet" type="text/css" />
  <link href="/css/detail.css" rel="stylesheet" type="text/css"/>
  <script type="text/javascript" src="/script/jquery.min.js"></script>
  <script type="text/javascript" src="/script/common.js"></script>
</head>

<script type="text/javascript">
    function test(index){
        alert(index);
//		var l = "${list}"; //一定要用双引号才能获取到
    }

    function Select(items,param){//按条件查询
        window.location.href="/invest/investSel?item="+items+"&param="+param;
    }

</script>

<body>

<!--header--> <header th:include="common/header :: header"></header>
<!--列表-->
<div class="page-filter wrap">
  <div class="breadcrumbs"><a href="/sys/index">首页</a>&gt;<span class="cur">散标投资列表</span></div>
  <div class="invest-filter" data-target="sideMenu">
    <div class="filter-inner clearfix">
      <div class="filter-item">
        <div class="hd">
          <h3>筛选投资项目</h3>
          <!--           <label>
                    <input id="filterMulti" name="multiple_choice" type="checkbox"/>
                    多选</label> -->
        </div>
        <div class="bd">
          <dl>
            <dt>项目类型</dt>
            <dd>
              <ul id="items">
                <li class="n1">
                  <a id="post_type_" th:class="${session.biaoId == null?'active':''}" style="cursor:pointer;'" onclick="Select('itemtype','-1');">不限</a>
                </li>
                <li th:each="biao,biaoStat:${biaos}" class="n2">
                  <!--biao.id是数值类型，session.biaoId是字符类型，需要判断的话要进行转换-->
                  <a th:id="'post_type_car'+${biao.id}" th:class="${session.biaoId == biao.id+''?'active':''}" style="cursor:pointer;" th:onclick="Select('itemtype',[[${biao.id}]]);" th:text="${biao.bname}"></a>
                </li>
              </ul>
            </dd>
          </dl>
          <dl>
            <dt>年利率</dt>
            <dd>
              <ul id="rate">
                <li class="n1"><a th:class="${session.startR=='-1' || session.startR == null?'active':''}" id="borrow_interestrate_0" style="cursor:pointer;" onclick="Select('rate','-1');">不限</a></li>
                <li class="n2"><a th:class="${session.startR=='0'?'active':''}" id="borrow_interestrate_1" style="cursor:pointer" onclick="Select('rate','1');">12%以下</a> </li>
                <li class="n3"><a th:class="${session.startR=='12'?'active':''}" id="borrow_interestrate_2" style="cursor:pointer" onclick="Select('rate','2');">12%-14%</a> </li>
                <li class="n4"><a th:class="${session.startR=='14'?'active':''}" id="borrow_interestrate_3" style="cursor:pointer" onclick="Select('rate','3');">14%-16%</a> </li>
                <li class="n5"><a th:class="${session.startR=='16'?'active':''}" id="borrow_interestrate_4" style="cursor:pointer" onclick="Select('rate','4');">16%及以上</a> </li>
              </ul>
            </dd>
          </dl>
          <dl>
            <dt>期限</dt>
            <dd>
              <ul id="timel">
                <li class="n1"><a th:class="${session.startT=='-1' || session.startT == null?'active':''}" id="spread_month_0" style="cursor:pointer" onclick="Select('timelimit','-1');">不限</a> </li>
                <li class="n2"><a th:class="${session.startT=='0'?'active':''}" id="spread_month_1" style="cursor:pointer" onclick="Select('timelimit','1');">1月以下</a> </li>
                <li class="n3"><a th:class="${session.startT=='30'?'active':''}" id="spread_month_2" style="cursor:pointer" onclick="Select('timelimit','2');">1-3月</a> </li>
                <li class="n4"><a th:class="${session.startT=='90'?'active':''}" id="spread_month_3" style="cursor:pointer" onclick="Select('timelimit','3');">3-6月</a> </li>
                <li class="n5"><a th:class="${session.startT=='180'?'active':''}" id="spread_month_4" style="cursor:pointer" onclick="Select('timelimit','4');">6-12月</a> </li>
                <li class="n6"><a th:class="${session.startT=='360'?'active':''}" id="spread_month_5" style="cursor:pointer" onclick="Select('timelimit','5');">12月及以上</a> </li>
              </ul>
            </dd>
          </dl>
          <dl class="repayment">
            <dt>还款方式</dt>
            <dd>
              <ul id="rway">
                <li class="n1"><a th:class="${session.pway=='' || session.pway == null?'active':''}" id="repay_style_0" style="cursor:pointer" onclick="Select('repayway','-1');">不限</a></li>
                <li class="n2"><a th:class="${session.pway=='到期还本付息'?'active':''}" id="repay_style_1" style="cursor:pointer" onclick="Select('repayway','1');">到期还本付息</a> </li>
                <li class="n2"><a th:class="${session.pway=='按月付息,到期还本'?'active':''}" id="repay_style_2" style="cursor:pointer" onclick="Select('repayway','2');">按月付息,到期还本</a> </li>
                <li class="n2"><a th:class="${session.pway=='等额本息'?'active':''}" id="repay_style_3" style="cursor:pointer" onclick="Select('repayway','3');">等额本息</a> </li>
              </ul>
            </dd>
          </dl>
        </div>
      </div>
      <div class="common-problem">
        <h3>常见问题</h3>
        <ul>
          <li><a href="#">什么是债权贷？</a></li>
          <li><a href="#">关于"债权贷"产品的说明</a></li>
          <li><a href="#">易贷网P2P理财收费标准</a></li>
          <li><a href="#">债权贷和房易贷、车易贷有什么区别？</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="invest-list mrt30 clearfix">
    <div class="hd">
      <h3>投资列表</h3>
    </div>
    <div class="bd">
      <div class="invest-table clearfix">
        <div class="title clearfix">
          <ul>
            <li class="col-330">标题名称</li>
            <li class="col-180"><a href="javascript:url('order','account_up');" class="">借款金额</a> </li>
            <li class="col-110"><a href="javascript:url('order','apr_up');" class="">年利率</a> </li>
            <li class="col-150"><a href="javascript:url('order','period_up');" class="">截止期限</a> </li>
            <li class="col-150">还款方式</li>
            <li class="col-120"><a href="javascript:url('order','scale_up');" class="">借款进度</a></li>
            <li class="col-120-t">操作</li>
          </ul>
        </div>
        <!------------投资列表-------------->
        <!--         <form action="investInfo.do" method="post" onsubmit="">investAdd.do
                <input type="hidden" name="" value=""/> 控制层要获取一个对象要不就在页面上用form表单传要不传一个条件到控制层查出来-->
        <div class="item" th:each="invest,investStat:${list}">
          <ul>
            <li class="col-330 col-t">
              <a th:href="@{/investinfo/toInvestInfo(bmid=${invest.id })}" target="_blank">
                <i class="icon icon-xin" title="类型"></i>
              </a>
              <a class="f18" th:href="@{/investinfo/toInvestInfo(bmid=${invest.id })}" th:title="${invest.pname }" target="_blank" th:text="${#strings.abbreviate(invest.pname,8)}">
              </a>
            </li>
            <li class="col-180"><span class="f20 c-333" th:text="${invest.ptotalmoney }"></span>元</li>
            <li class="col-110 relative"><span class="f20 c-orange" th:text="${invest.pincome+'%'}"></span></li>
            <li class="col-150"><span class="f20 c-333" th:text="${#dates.format(invest.pcount,'yyyy-MM-dd')}"></span></li>
            <li class="col-150" th:text="${invest.pway }"></li>
            <li class="col-120">
              <div class="circle">
                <div class="left progress-bar">
                  <div th:class="'progress-bgPic progress-bfb'+${#numbers.formatDecimal(((invest.pmoney/invest.ptotalmoney)*10<1?1:(invest.pmoney/invest.ptotalmoney)*10),1,0)}">
                    <div class="show-bar" th:text="${#numbers.formatDecimal((invest.pmoney/invest.ptotalmoney)*(100),1,1)+'%'}">  </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="col-120-2">
              <a class="ui-btn btn-gray" th:href="@{/investinfo/toInvestInfo(bmid=${invest.id })}">
                <span th:if="${invest.pstate=='1' }">立即投标</span>
                <span th:if="${invest.pstate=='2' }">募集完成</span>
                <span th:if="${invest.pstate=='3' }">还款中</span>
              </a>
            </li>

          </ul>
        </div>
        <!-- </form>  -->
        <!------------投资列表-------------->
      </div>

      <!--分页-->
      <div class="pagination clearfix mrt30" th:if="${page.pages>0}">
      <span class="page">
        <a th:href="@{/invest/investSel(current=1)}" onclick=""><!-- javascript:void(0); -->首页</a>
        <a th:href="@{/invest/investSel(current=${page.current-1 })}" onclick="">上一页</a>
        <a th:each="p:${#numbers.sequence(1,page.pages)}" th:class="${page.current==p?'curr':''}" onclick="" th:href="@{/invest/investSel(current=${p })}" >[[${p}]]</a>
        <a th:href="@{/invest/investSel(current=${page.current+1 })}" onclick="">下一页</a>
        <a th:href="@{/invest/investSel(current=${page.pages })}" onclick="">尾页</a>&nbsp;
        <em>共[[${page.total}]]条信息，当前[[${page.current}]]页 / 共[[${page.pages }]]页&nbsp;</em>
      </span>
      </div>

      <div th:if="${page.pages<1}">
        <h3 style="text-align: center">未找到任何数据！</h3>
      </div>
    </div>
  </div>
  <!--网站底部-->
  <div th:include="common/footer :: footer" id="footer" class="ft"></div>

</body>
</html>
