
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>p2p网贷平台</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/css/common.css" rel="stylesheet" />
<link href="/css/register.css" rel="stylesheet"
	type="text/css">
<script type="text/javascript" src="/script/jquery.min.js"></script>
<script type="text/javascript" src="/script/common.js"></script>
<script src="/script/login.js" type="text/javascript"></script>
</head>
<body>


<!--header--> <header th:include="common/header :: header"></header>

<!--注册-->
	<div class="wrap">
		<div class="tdbModule register">
			<div class="registerTitle">注册账户</div>
			<div class="registerLc1">
				<p class="p1">填写账户信息</p>
				<p class="p2">验证手机信息</p>
				<p class="p3">注册成功</p>
			</div>
			<div class="registerCont">
				<form action="../users/do_register" id="form" method="post" onsubmit="return form_submit()">
					<ul>
						<li><span class="dis">*用户名:</span> <input type="text" name="unickname" id="userName" onblur="yhm()"
							class="input _userName" maxlength="10" tabindex="1"> <span
							id="userNameAlt" data-info="6-10个字符，字母开头，字母、数字组成">6-10个字符，字母开头，字母、数字组成</span></li>
						<li><span class="dis">*密码:</span> <input type="password"
							 name="upassword" id="password" class="input _password"
							maxlength="16" tabindex="1"> <span id="passwordAlt"
							data-info="6-16个字符，英文、数字组成，区分大小写">6-16个字符，英文、数字组成</span></li>
						<li><span class="dis">*确认密码:</span> <input type="password"
							name="repeatPassword" id="repeatPassword"
							class="input _repeatPassword" maxlength="16" tabindex="1">
							<span id="repeatPasswordAlt" data-info="请再次输入密码">请再次输入密码</span></li>
						<li class="telNumber"><span class="dis">*手机号码:</span> <input
							type="text" class="input _phoneNum" id="phone"
							name="uphonenumber" tabindex="1" maxlength="11"><input type="button" onclick="button_ck()" value="发送验证码"/>
						</li>
						<li class="yzm">
							<span class="dis">*验证码：</span>
							<input type="text" id="yzm" style="width:166px;" class="input" name="yzm" data-msg="验证码" maxlength="6" tabindex="1" autocomplete="off">
							<input type="hidden" id="yzms">
						</li>
						<li class="tjr">
							<span class="dis">推荐人：</span>
							<input type="text" id="tjr" style="width:166px;" class="input" name="tjr" maxlength="16" tabindex="1" autocomplete="off">
						</li>
						<li class="tjrxm">
							<span class="dis">推荐人姓名：</span>
							<input type="text" id="tjrxm" style="width:166px;" class="input" name="tjrxm" maxlength="16" tabindex="1" autocomplete="off">
						</li>
						<li class="agree"><input name="protocol" id="protocol"
							type="checkbox" value="" checked="checked"> 我同意《<a
							href="#" target="_black">亿人宝注册协议</a>》 <span id="protocolAlt"
							data-info="请查看协议">请查看协议</span></li>
						<li class="btn"><input type="submit" class="radius_Submit" />
						</li>
					</ul>
				</form>
			</div>
		</div>
	</div>
<!--网站底部-->
<div th:include="common/footer :: footer" id="footer" class="ft"></div>
</body>
<!--custom switch-->
<!-- js placed at the end of the document so the pages load faster -->
<script src=" /assets/js/jquery.js"></script>
<script src=" /assets/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript"
	src=" /assets/js/jquery.dcjqaccordion.2.7.js"></script>
<script src=" /assets/js/jquery.scrollTo.min.js"></script>
<script src=" /assets/js/jquery.nicescroll.js"
	type="text/javascript"></script>


<!--common script for all pages-->
<script src=" /assets/js/common-scripts.js"></script>

<!--script for this page-->
<script src=" /assets/js/jquery-ui-1.9.2.custom.min.js"></script>

<!--custom switch-->
<script src=" /assets/js/bootstrap-switch.js"></script>

<!--custom tagsinput-->
<script src=" /assets/js/jquery.tagsinput.js"></script>

<!--custom checkbox & radio-->

<script type="text/javascript"
	src=" /assets/js/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript"
	src=" /assets/js/bootstrap-daterangepicker/date.js"></script>
<script type="text/javascript"
	src=" /assets/js/bootstrap-daterangepicker/daterangepicker.js"></script>

<script type="text/javascript"
	src=" /assets/js/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>


<script src=" /assets/js/form-component.js"></script>

<script type="text/javascript"
	src=" My97DatePickers/WdatePicker.js"></script>
<script type="text/javascript">

	function button_ck(){
        var phone = document.getElementById("phone").value;
        var test_phone1 = test_phone();
        if (test_phone1 == false){
            alert("手机号码有误，请重填");
		} else {
            $.get("/sys/register_ph?phone="+phone, function (data){
                if (data.messages != "" && data.messages != null){
                    alert(data.messages);
				}
                document.getElementById("yzms").value = data.yzm;
            })
		}
    }

    function form_submit(){
        var test_protocol1 = test_protocol();
        var test_yzm = yzm1();
        if (checkunickname()== false){
            return false;
        }else if ( checkupassword() == false || checkupassword1() == false){
            return false;
        }else if (phone() == false){
            return false;
        }else if (test_yzm == false){
            alert("验证码有误，请重填");
            return false;
        }else if (test_protocol1 == false){
            alert("请先阅读协议，并勾选我同意");
            return false;
        } else{
            return true;
        }
    }

	function checkunickname() {
		var unickname = document.getElementById("userName").value;
		var k = new RegExp("^(?!_)(?!.*?_$)[a-zA-Z0-9_\u4e00-\u9fa5]+$");
		if (unickname == "" || unickname == null) {
			alert("请输入名字");
			return false;
		}
		if (k.test(unickname) != true) {
			alert("名字不能含有非法字符");
			document.getElementById("userName").value = "";
			return false;
		}
		if (unickname.length < 6) {
			alert("用户名过短!!!");
			return false;
		}
		if (unickname.length > 10) {
			alert("用户名过长!!!");
			return false;
		}
	}
    function yhm(){
        var unickname = document.getElementById("userName").value;
        $.post('../users/findByName', {
            "unickname" : unickname
        }, function(data) {
            var conent = data;
            if (conent == 2) {
                alert("用户名已经存在!!!");
                document.getElementById("userName").value = "";
                return false;
            }
        }, "json");
    }

	function checkupassword(){
		var password = document.getElementById("password").value;
		if (password == "" || password == null) {
			alert("请输入密码");
			return false;
		}
		if (password.length < 6) {
			alert("密码过短!!!");
			return false;
		}
		if (password.length > 16) {
			alert("密码过长!!!");
			return false;
		}
	}
	function checkupassword1(){
		var repeatPassword = document.getElementById("repeatPassword").value;
		var password = document.getElementById("password").value;
		if (repeatPassword == "" || repeatPassword == null) {
			alert("请输入密码");
			return false;
		}
		if (repeatPassword.length < 6) {
			alert("密码过短!!!");
			return false;
		}
		if (repeatPassword.length > 16) {
			alert("密码过长!!!");
			return false;
		}
		if(password!=repeatPassword){
			 window.alert("您输入的新密码与确认密码确认不一致"); 
			 return false; 
		}
	}
	function phone(){
		var phone = document.getElementById("phone").value;
		var e =/^1(3|4|5|7|8)\d{9}$/;
		if(phone.length!=11){
			alert("请输入11位的手机号码");
			return false; 
		}
		if(e.test(phone)==false){
			 alert("手机号码有误，请重填"); 
		     return false; 
		}
	}


    function test_name() {
        var unickname = document.getElementById("userName").value;
        var k = new RegExp("^(?!_)(?!.*?_$)[a-zA-Z0-9_\u4e00-\u9fa5]+$");
        if (unickname == "" || unickname == null) {
            return false;
        }
        if (k.test(unickname) != true) {
            document.getElementById("userName").value = "";
            return false;
        }
        if (unickname.length < 6) {
            return false;
        }
        if (unickname.length > 10) {
            return false;
        }
        $.post('${pageContext.request.contextPath}/users/findByName.do', {
            "unickname" : unickname
        }, function(data) {
            var conent = data;
            if (conent == 2) {
                document.getElementById("userName").value = "";
                return false;
            }
        }, "json");
    }
    function test_pwd(){
        var password = document.getElementById("password").value;
        if (password == "" || password == null) {
            return false;
        }
        if (password.length < 6) {
            return false;
        }
        if (password.length > 16) {
            return false;
        }
    }
    function test_pwds(){
        var repeatPassword = document.getElementById("repeatPassword").value;
        var password = document.getElementById("password").value;
        if (repeatPassword == "" || repeatPassword == null) {
            return false;
        }
        if (repeatPassword.length < 6) {
            return false;
        }
        if (repeatPassword.length > 16) {
            return false;
        }
        if(password!=repeatPassword){
            return false;
        }
    }
    function test_phone(){
        var phone = document.getElementById("phone").value;
        var e =/^1(3|4|5|7|8)\d{9}$/;
        if(phone.length!=11){
            return false;
        }
        if(e.test(phone)==false){
            return false;
        }
    }
    function test_protocol() {
        var protocol = document.getElementById("protocol");
		if (!protocol.checked) {
		    return false;
		}
    }
    function yzm1() {
        var phone1 = document.getElementById("yzm").value;
        var phone2 = document.getElementById("yzms").value;
        if (phone1 != phone2){
            return false;
		}
    }
</script>
</html>