
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>亿人网--媒体报道</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href=" /css/common.css" rel="stylesheet" />
	<link href=" /css/about.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src=" /script/jquery.min.js"></script>
	<script type="text/javascript" src=" /script/common.js"></script>
</head>
<body>

<!--header--> <header th:include="common/header :: header"></header>


<!--关于我们-->
<div class="bg">
	<div class="contain" id="tabs" style="margin:0 auto;">
		<!--关于我们-->
		<div th:include="common/gywm_left :: gywm_left" class="text-nav"></div>
		<div class="text-box">
			<div class="text-content" id="text-content">
				<h1 class="title">媒体报道</h1>
				<ul class="clearfix mt20 new-list"  th:each="pps:${list}">
					<li class="clearfix list-item">
						<a href="" th:href="@{'/notice/mtbdxq?ids='+${pps.noticeid}}"><td th:text="${pps.noticetitle}"></td></a>
						<span th:text="${#dates.format(pps.noticelasttime,'yyyy-MM-dd')}">
							</span>
					</li>
				</ul>
				<div class="btn-group" align="center">
					共<span th:text="${currpage}"></span>/
					<span th:text="${totalPage}"></span>页
					<a th:href="@{'/notice/mtbd?currpage='+1}">首页</a>
					<a th:href="@{'/notice/mtbd?currpage='+${currpage-1}}">上一页</a>
					<a th:href="@{'/notice/mtbd?currpage='+${currpage+1}}">下一页</a>
					<a th:href="@{'/notice/mtbd?currpage='+${totalPage}}">末页</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!--网站底部-->
<div th:include="common/footer :: footer" id="footer" class="ft"></div>
</body>
</html>