<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>p2p网贷平台</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/css/common.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/css/user.css" />
<link rel="stylesheet" type="text/css" href="/css/jquery.datetimepicker.css"/>
<script type="text/javascript" src="/script/jquery.min.js"></script>
<script type="text/javascript" src="/script/common.js"></script>
<script src="/script/user.js" type="text/javascript"></script>
</head>
<body>
<!--header-->
<header th:include="common/header :: header"></header>
<!--个人中心-->
<div class="wrapper wbgcolor">
  <div class="w1200 personal">
    <!--上方图片+左侧导航栏-->
    <div th:include="common/left :: left"></div>
    <div class="personal-main">
      <div class="personal-back">
        <h3><i>回款计划</i></h3>
        <form id="form" name="form" method="post" action="">
          <input type="hidden" name="form" value="form">
          <div class="back-money"> <span class="back-own"><b class="fb">待收本金</b><br>
            <i th:text="${session.inmoney}"></i> 元</span> <span class="back-profit"><b class="fb">待收收益</b><br>
            <i th:text="${session.profitmoney}"></i> 元</span> </div>
          <span id="form:dataTable">
          <div class="personal-backlist">
            <div class="pmain-contitle"> <span class="pmain-titledate fb">计划回款时间</span> <span class="pmain-titleproject fb">项目</span> <span class="pmain-titletype fb">类型</span> <span class="pmain-titlemoney fb">回款金额</span> </div>
            <ul style="float:left;">
              <span th:if="${session.hklist!=null}">
                <span th:each="list:${session.hklist}">
                  <li>
                    <span class="pmain-titledate" th:text="${list.replaydate}"></span>
                    <span class="pmain-titleproject" th:text="${list.title}"></span>
                    <span class="pmain-titletype" th:text="${list.instyle}"></span>
                    <span class="pmain-titlemoney" th:text="${(list.inmoney + list.profitmoney)}"></span>
                  </li>
                </span>
              </span>
              <span th:if="${session.hklist==null}">
                  <div style=" width:760px;height:200px;padding-top:100px; text-align:center;color:#d4d4d4; font-size:16px;">
										    <img src="/images/nondata.png" width="60" height="60"><br><br>
										   暂无回款计划
                  </div>
              </span>
            </ul>
          </div>
          </span>
        </form>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<!--网站底部-->
<div th:include="common/footer :: footer" id="footer" class="ft"></div>
<script src="/script/jquery.datetimepicker.js" type="text/javascript"></script>
<script src="/script/datepicker.js" type="text/javascript"></script>
</body>
</html>
